<div th:fragment="articlecard" class="col-md-4">
    		    <div class="card profile-card-2">
                    <div class="card-img-block">
                        <img class="img-fluid " id="obj" src="https://cdn.britannica.com/24/77424-050-4FF80B58/Angkor-Wat-Cambodia.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body pt-5">
                        <a>
                            <img src="https://randomuser.me/api/portraits/men/64.jpg" alt="profile-image" class="profile"/>
                        </a>
                        <a>
                            <p style=" color: orange; position: absolute; left: 110px; top: 5px; font-size: 12px" >Author</p>
                        </a>
                        <a>
                            <p style=" color: orange; position: absolute; left: 110px; bottom: 180px; font-size: 10px">@</p>
                        </a>

                        <h5 class="card-title" >Landon Hunt</h5>
                        <div class="bg-danger" style="width: 100px; border-radius: 20px">
                            <p class=" text-light text-center">Category</p>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div>
                    </div>
                </div>
    		</div>
